.Loop-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    > aside {
        flex: 1;
        text-align: center;
    }

    > section {
        flex: 10;
    }
}

.pic-container {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    
    .pic-slip {
        display: block;
        width: 100%;
        > img {
            display: block;
            height: 350px;
            width: 100%;
        }
        .pic-slip-enter {
            &.pic-slip-enter-active {
                animation: slip-in 800ms;
            }
        }
        .pic-slip-leave {
            display: none;
            &.pic-slip-leave-active {
                display: none;
            }
        }
    }
    

}

@keyframes slip-in {
    from {
        transform: translateX(50px); 
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes slip-out {
    from {
        left: 0px;
        opacity: 1;
    }
    to {
        left: -20px;
        opacity: 0;
    }
}
